<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Apprenants ODK</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
  <ion-list>
    <ion-item>
      <ion-label></ion-label>
      <!-- <ion-label>NOM</ion-label>
      <ion-label>PRENOM</ion-label> -->
    </ion-item>
  </ion-list>
    <ion-list *ngFor="let response of listApprenant">
      <ion-item lines="none">
        <ion-label><ion-icon name="people-circle-outline"></ion-icon></ion-label>
        <ion-label>{{ response.prenom }}</ion-label>
        <ion-label>{{ response.nom }}</ion-label>
      
      </ion-item>
    </ion-list>
    <ion-item lines="none">
      <!-- <ion-checkbox color="success" slot="start"></ion-checkbox> -->
      <ion-label>
        <h2 ></h2>
      </ion-label>
    </ion-item>
  </ion-card>
</ion-content>
